.menuType {
  padding-top: 2rem;
}
.menuType h2 {
  padding: 3rem 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 100;
  font-size: 2rem;
}

.listContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .listContainer {
    grid-template-columns: 1fr;
  }
}
