* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
}

:root {
  --main-color: #c08261;
  --secondary-color: #dde6ed;
  --main-bg-color: #111137;
  --section-padding: 10rem;
}

@media (max-width: 750px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}
